<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <a href="#" book_id="111">删除</a>
</body>
<script src="/static/js/jquery.min.js"></script>
<script>
    // 点击删除按钮

    $('a[book_id]').click(function () {
        //获取参数
        var book_id = $(this).attr('book_id');
        // var csrf_token = $('input[name="csrf_token"]').val();

        //封装参数
        var params = {"book_id": 'xxxx'};
        var params_json = JSON.stringify(params);//把json对象变成json字符串，因为$.ajax里面的参数必须是json字符串否则报错400（设置application、json）

        $.ajax({
            url: '/json', //请求的后端url
            type: 'POST', //请求方式
            data: params_json, //发送的参数
            contentType: 'application/json', //设置请求头
            dataType: 'json', //将响应体数据，以json格式解析
            success: function (data) {
                if (data.code == 0) {
                    // alert(11);
                    window.location.href = '/index';
                }
            }
        });


    });
</script>
</html>